option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: brianrosedale_default
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-a56ca0c0
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-0e788179,subnet-93568df6,subnet-53dec715
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-2806ff5f
    
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-0e788179,subnet-93568df6,subnet-53dec715
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.small
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-a467fac1
