- content_for :page_title do
  %title= 'Brian Rosedale | About'
- content_for :keywords do
  %meta{name: 'keywords', content: 'Brian Rosedale, Developer, Programmer, Full-Stack Developer, Web Developer, Software Engineer'}
- content_for :description do
  %meta{name: 'description', content: "Hi! I'm Brian. I'm a Full-Stack Developer / Programming Generalist. Click to learn more about me."}

.row
  .col-xs-12.col-md-8
    %p Hi, I'm Brian. I'm originally from Chicago and I moved out to Seattle in 2013.
    %p I got into software development while I was in the Navy. While I was in the Navy, I had an idea for a website and hired a web development company to build the website for me. The company did not deliver the website to my expectations. I decided to do it myself and picked up some web development books.  I've been doing it every since.
    %p When I'm not studying and coding at home, I like to go fishing, work out, relax, and explore the Seattle area. I also like spending time with my two dogs Zoe and Zeus.
  .col-xs-12.col-md-4
    = image_tag 'me.jpg', alt: 'Brian Rosedale', class: 'img-responsive'