- content_for :page_title do
  %title= 'Brian Rosedale | Full-Stack Developer'
- content_for :keywords do
  %meta{name: 'keywords', content: 'Brian Rosedale, Developer, Programmer, Full-Stack Developer, Web Developer, Software Engineer'}
- content_for :description do
  %meta{name: 'description', content: "Hi! I'm Brian. I'm a Full-Stack Developer / Programming Generalist. Click to learn more about me."}

#home-intro.center-block
  %h2 Hello. I'm Brian
  %h2 My daily routine: Eat. Sleep. Code. Repeat.
  %h5 Thanks for visiting. Explore to learn more about me and what I do.

  .row
    .col-xs-12.col-md-6
      .home-container
        .home-text-container
          %p My blog is where I focus on sharing what I've learned and what I am working on in my free time.
        = link_to 'BLOG', posts_path, class: 'btn btn-primary btn-block'
    .col-xs-12.col-md-6
      .home-container
        .home-text-container
          %p Interested in my skills or want to see what I've done?  Check out my work.
        = link_to 'WORK', work_path, class: 'btn btn-primary btn-block'