#home-intro.center-block
  %h2 Hello. I'm Brian
  %h2 My daily routine: Eat. Sleep. Code. Repeat.
  %h5 Thanks for visiting. Explore to learn more about me and what I do.

  .row
    .col-xs-12.col-md-6
      .home-container
        .home-text-container
          %p My blog is where I focus on sharing what I've learned and what I am working on in my free time.
        = link_to 'BLOG', '#', class: 'btn btn-primary btn-block'
    .col-xs-12.col-md-6
      .home-container
        .home-text-container
          %p Interested in my skills or want to see what I've done?  Check out my work.
        = link_to 'WORK', '#', class: 'btn btn-primary btn-block'