- content_for :page_title do
  %title= 'Not Found'
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}

%h2 Page Not Found
%h4 Sorry, I couldn't find the page you were looking for.