- content_for :page_title do
  %title= 'Change Rejected'
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}

%h2 The change you wanted was rejected.
%h4 Maybe you tried to change something you didn't have access to.