- content_for :page_title do
  %title= 'Error'
- content_for :keywords do
  %meta{name: 'keywords', content: ''}
- content_for :description do
  %meta{name: 'description', content: ''}

%h2 Error
%h4 Sorry, something went wrong while processing your request.