- content_for :page_title do
  %title= 'Brian Rosedale | Blog'
- content_for :keywords do
  %meta{name: 'keywords', content: 'Brian Rosedale, Developer, Programmer, Full-Stack Developer, Web Developer, Software Engineer'}
- content_for :description do
  %meta{name: 'description', content: "Hi! I'm Brian. I'm a Full-Stack Developer / Programming Generalist. Click to read my blog."}

- @posts.each do |post|
  = render 'posts/partials/post', post: post

= paginate @posts