#home-intro {
  width: 80%;
}

@media (max-width: $screen-md-min) {
  #home-intro {
    width: 100%;
  }
}

.home-container {
  margin: $margin 0px $margin 0px;
  .home-text-container {
    min-height: 77px;
  }
}

@media (max-width: $screen-md-min) {
  .home-text-container {
    min-height: 0px !important;
  }
}

.work-list {
  padding: 0px;
  li {
    display: inline;
    margin-right: $margin-sm;
  }
}

.work-spacer {
  border-bottom: 1px solid $gray-lighter;
  margin: 30px 0px 30px 0px;
}

.work-list-extra {
  padding: 0px;
  list-style-type: none;
  li {
    margin-bottom: $margin-sm;
  }
}