#home-intro {
  width: 80%;
}

@media (max-width: $screen-md-min) {
  #home-intro {
    width: 100%;
  }
}

.home-container {
  margin: $margin 0px $margin 0px;
  .home-text-container {
    min-height: 77px;
  }
}

@media (max-width: $screen-md-min) {
  .home-text-container {
    min-height: 0px !important;
  }
}