- if notice
  .alert.alert-success.alert-dismissible{role: 'alert'}
    %button.close{data: {dismiss: 'alert'}}
      %span{area: {hidden: 'true'}} &times;
      %span.sr-only Close
    = notice
- if alert
  .alert.alert-warning.alert-dismissible{role: 'alert'}
    %button.close{data: {dismiss: 'alert'}}
      %span{area: {hidden: 'true'}} &times;
      %span.sr-only Close
    = alert