.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button{type: 'button', class: 'navbar-toggle collapsed', data: {toggle: 'collapse', target: '#bs-navbar-collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Brian Rosedale', home_path, class: 'navbar-brand'
    .collapse.navbar-collapse#bs-navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li{class: current_page?(home_path) ? 'active' : 'inactive'}
          = link_to 'Home', home_path
        %li{class: current_page?(posts_path) ? 'active' : 'inactive'}
          = link_to 'Blog', posts_path
        - if admin_signed_in?
          %li
            = link_to 'Admin Dashboard', rails_admin.dashboard_path